*{
    margin: 0;
    padding: 0;
}

.card{

    background-color: rgb(109, 109, 109);
    width: 250px;
    box-shadow: 4px 4px 0px slategrey;
    overflow: hidden;
    margin: 20px;
    padding: 10px;

}

.cardTitle{
    text-align: center;
    color: whitesmoke;
}

.cardBody{
    color: rgb(1, 31, 129);
    text-align: justify;
}